body{
  background-color: black;
  color: white;
}
.app-header{
  display: flex;
  justify-content: center;
}
/* form */
.form-div{
  display: flex;
  justify-content: center;
}
.form-div form .input-div{
  display: flex;
  justify-content: center;
}
.form-div form .input-div input{
  
}
.form-div form .input-div .button-container{
  display: flex;
  flex-direction: column;
}
/* list */
.list-div{
  display: flex;
  justify-content: center;
}
.list-div ul{
  width: 350px;
}
.list-div ul .todo-div li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.list-div ul .todo-div li .date-div{
  margin: 0 5px;
}
.list-div ul .todo-div li .text-div{
  margin: 0 5px;
}
.list-div ul .todo-div li .text-div p{
  max-width: 130px;
  word-wrap: break-word;
}
.list-div ul .todo-div li .btn-div{
  display: flex;
  flex-wrap: nowrap;
  margin: 0 5px;
  border: none;
}
.list-div ul .todo-div li .btn-div #delete{
  background-color: tomato;
}
.list-div ul .todo-div li .btn-div .completed{
  background-color: greenyellow;
}

